*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}
.EstruturaGeral{
    width: 100vw;
    height: 200vh;
    background: linear-gradient(180deg, #000, #1f011f, #800080, #701686);
}



    .EstruturaGeral .NavMain{
        /* background: rgba(255, 255, 255, 0.342); */
        height: 10vh;
        width: 100vw;
        position: fixed;
        bottom: 0;
    }
        .EstruturaGeral .NavMain ul{
            background: #000;
            margin-left: auto;
            margin-right: auto;
            width: 80vw;
            height: 9vh;
            border-radius: 50px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
        }
            .EstruturaGeral .NavMain ul li{
                display: inline;
                justify-self: center;
                /* background: rgba(255, 0, 0, 0.226); */
                width: 50px;
                height: 50px;
            }
                .EstruturaGeral .NavMain ul li a{
                    display: inline-block;
                    font-size: 1.8em;
                    text-align: center;
                    /* background: rgba(0, 0, 255, 0.212); */
                    position: relative;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                    .EstruturaGeral .NavMain ul li a .bi{
                        color: #817782;
                    }
    


    .EstruturaGeral .cabecalho{
        background: rgba(173, 216, 230, 0.233);
        width: 100vw;
        height: 85vh;
    }



    .EstruturaGeral .sectionMain{
        /* background: rgba(255, 160, 122, 0.205); */
        width: 100vw;
        height: 110vh;
        display: grid;
        grid-template-rows: 20vh, 100vh;
    }
        .EstruturaGeral .sectionMain .RowPrincipal{
            /* background: rgba(255, 255, 0, 0.315); */
            width: 100vw;
            height: 25vh;
        }
            .EstruturaGeral .sectionMain .RowPrincipal .produtoMain{
                background: linear-gradient(60deg, rgba(234, 0, 148, 0.582), #fe3075d3, rgba(252, 120, 113, 0.89));
                width: 90vw;
                height: 170px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 25px;
            }
        .EstruturaGeral .sectionMain .RowOrdinaria{
            /* background: rgba(255, 255, 255, 0.37); */
            justify-self: center;
            width: 95vw;
            height: 90vh;
            column-count: 2;
            column-gap: 0;
        }
            .EstruturaGeral .sectionMain .RowOrdinaria .produto01{
                background: linear-gradient(60deg, rgba(234, 0, 148, 0.582), #fe3075a9, rgba(252, 120, 113, 0.555));
                width: 45vw;
                min-height: 200px;
                max-height: 230px;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                break-inside: avoid-column;
                overflow: hidden;
                border-radius: 25px;
            }
            .EstruturaGeral .sectionMain .RowOrdinaria .produto02{
                background: linear-gradient(200deg, rgba(234, 0, 148, 0.781), #5c00a377, #5c00a391);
                width: 45vw;
                min-height: 280px;
                max-height: 380px;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                break-inside: avoid-column;
                overflow: hidden;
                border-radius: 25px;
            }
            .EstruturaGeral .sectionMain .RowOrdinaria .produto03{
                background: linear-gradient(30deg, #6f1686c0, #fe30758f, #fe3075b7);
                width: 45vw;
                min-height: 280px;
                max-height: 380px;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                break-inside: avoid-column;
                overflow: hidden;
                border-radius: 25px;
            }
            .EstruturaGeral .sectionMain .RowOrdinaria .produto04{
                background: linear-gradient(200deg, rgba(234, 0, 148, 0.527), #5c00a386, #5c00a391);
                width: 45vw;
                min-height: 200px;
                max-height: 230px;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                break-inside: avoid-column;
                overflow: hidden;
                border-radius: 25px;
            }