@font-face {
    font-family: 'FonteBloco';
    src: url("/FONTS/nike-logo-font/Futura\ Std\ Extra\ Bold.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FonteTitulo1';
    src: url('FONTS/nike-logo-font/Futura\ Std\ Heavy.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FonteTitulo2';
    src: url('FONTS/nike-logo-font/Futura-Light.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    font-size: 10pt;
    text-transform: uppercase;
    /* outline: turquoise 1px dashed; */
}

.EstruturaGeral{
    width: 100vw;
    height: 100vh;
    background: white;
}
    .EstruturaGeral .BlocoPrincipal{
        background: white;
        width: 100%;
        height: 100%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% repeat(4, 21.25%);
    }
        .EstruturaGeral .BlocoPrincipal .BlocoInfo{
            background: white;

            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(2, 50%);
            padding: 2%;
        }
        .EstruturaGeral .BlocoPrincipal .BlocoInfo > *{
            font-family: 'FonteTitulo1';
            font-size: 1.5em;
            color: rgb(70, 70, 70);
        }
        .EstruturaGeral .BlocoPrincipal a div.ConfigBlocos h1{
            font-size: 2em;
            text-align: center;
            font-family: 'FonteBloco';
            opacity: 0.7;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .EstruturaGeral .BlocoPrincipal a div#Bloco04{
            width: 100%;
            height: 100%;
            background: #90ee90;
            color: #062a06;
        }
        .EstruturaGeral .BlocoPrincipal a div#Bloco03{
            width: 100%;
            height: 100%;
            background: #add8e6;
            color: #0c2026;
        }
        .EstruturaGeral .BlocoPrincipal a div#Bloco02{
            width: 100%;
            height: 100%;
            background: #ffa07a;
            color: #2c0c00;
        }
        .EstruturaGeral .BlocoPrincipal a div#Bloco01{
            width: 100%;
            height: 100%;
            background: lightseagreen;
            color: #082d2b;
        }

@media (min-width: 1000px) {
    .EstruturaGeral .BlocoPrincipal{
        width: 50%;
        height: 90%;
    }
}